/* Perus pohja ja ulkönäkö määrittely*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: Roboto, sans-serif;
    background-color: #252627;
    color: #a9a9b3;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background-image: url("mask-icon.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 400px 600px;
}

* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

#valkoinen {
  color: white;
}

#vasenviiva {
  border-left: 3px solid grey;
}

#qaotsikot {
  border-bottom: 3px solid grey;
  text-align: center;
  font-size: 150%;
}

/*Parantaa näkyvyyttyä iPhoneilla*/
html {
    height: -webkit-fill-available;
}

#middlewhite {
  color:white;
  text-align:center;
}

#middlewhite a {
    color:white;
    text-align:center;
}

/*Sivuston järjestys*/
main {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 832px;
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

/*Kaikkien linkkien väri normaaliksi ja ilman alaviivaa*/
a {
    color:#1565c0;
    text-decoration:none;
}

/*<code> Pätkät eri fontilla ja värillä*/
code {
    background-color: #424242;
    font-family: "Roboto Mono", monospace;
}

/*Otsikko tekstit keskelle ja valkoiseksi*/
h1 {
  text-align:center;
  color:white;
}

/*Muuntaa linkkien värin ja alleviivaa ne hoverissa*/
a:hover {
    background-color: #252627;
    text-decoration:underline;
}

/*Varmistaa että linkit pysyy valkoisina*/
h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
    color: white;
}

/*p1 tekstit valkoiseksi ilman alaviivaa*/
p1 {
    color:white;
    text-decoration:none;
}

#ajan-kohtaista {
  text-align:left;
  font-weight: bold;
  border-left:3px solid grey;
  padding:10px;
  margin:5px;
  list-style-type:none;
}

/*Määrittää navigointipalkin ulkonäön*/
#navigointi ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    overflow-x: auto;
    padding: 0;
    background-color: #252627;
}

#navigointi {
    white-space: nowrap;
}

#navigointi ul li {
    list-style-type: none;
    display: flex;
}

#navigointi ul li a {
    display: flex;
    text-decoration: none;
    padding: 1em;
    align-items: center;
    font-size:100%;
    color:grey;
    letter-spacing: 0.6px;
    text-shadow: 0.3px 0.3px;
    font-weight: 400;
}

#otsikot {
    letter-spacing: 0.6px;
    text-shadow: 0.3px 0.3px;
    font-weight: 400;
}

#navigointi ul li a:visited {
    color: grey;
}

#navigointi ul li[aria-current] {
  font-size:110%;
  color:white;
  background-color:#252627;
}

#navigointi ul li[aria-current] a {
    color: white;
    font-size:110%; 
}

h2 {
    letter-spacing: 0.6px;
    text-shadow: 0.3px 0.3px;
    font-weight: 400;
}

#navigointi ul li a:hover {
  font-size:110%;
  color:white;
}
/* Navigointipalkin määrittely loppuu */

/* Sivuston footerin määrittely alkaa */
footer img {
    width: 60px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    letter-spacing: 0.6px;
    text-shadow: 0.3px 0.3px;
    font-weight: 400;
}

footer {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 800px;
    overflow-wrap: break-word;
    text-align: center;
}

footer a, footer a:visited {
    color: #616161;
}

#social {
    margin-top: 2em;
    padding: 0;
    list-style-type: none;
}

#social li {
    display: inline;
    padding: 0 0.5em;
}
/* Sivuston footer määrittely loppuu */

/* GrapheneOS logon muokkaus alkaa */
#kuvah {
    height: 2rem;
    width: 2rem;
    filter: invert(100);
    vertical-align: middle;
    margin-right: 0.5rem;
}
/* GrapheneOS logon muokkaus loppuu */

@media (prefers-color-scheme: light) {
    body {
        background: #fefefe;
        color: #222;
    }

    #middlewhite {
        color:#222;
        text-align:center;
    }

    #middlewhite a {
        color:#222;
        text-align:center;
    }

    #navigointi ul {
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        overflow-x: auto;
        padding: 0;
        background-color:#fefefe;
    }
    
    #navigointi {
        white-space: nowrap;
    }
    
    #navigointi ul li {
        list-style-type: none;
        display: flex;
    }
    
    #navigointi ul li a {
        display: flex;
        text-decoration: none;
        padding: 1em;
        align-items: center;
        font-size:100%;
        color:rgb(71, 66, 66);
        font-weight: bold;
    }
    
    #navigointi ul li a:visited {
        color: rgb(71, 66, 66);
    }
    
    #navigointi ul li[aria-current] {
      font-size:110%;
      color:black;
      background-color:#fefefe;
    }
    
    #navigointi ul li[aria-current] a {
        color: black;
        font-size:110%;
        border-bottom: 3px solid grey;
    }
    
    #navigointi ul li a:hover {
      font-size:110%;
      color:black;
      background-color: #fefefe;
      border-bottom: 3px solid grey;
    }

    h1 {
        color:black;
    }

    a:hover {
        background-color: #fefefe;
        text-decoration:underline;
    }

    a {
        color: #1565c0;
    }

    a:visited {
        color: #1565c0;
    }

    h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
        color: black;
    }

    code {
        background-color: grey;
        font-family: "Roboto Mono", monospace;
    }

    #valkoinen {
        color: black;
    }

    #kuvah {
        height: 2rem;
        width: 2rem;
        vertical-align: middle;
        margin-right: 0.5rem;
        filter: invert(1%);
    }
}

#artikkeli-otsikko {
    background-color: rgb(87, 86, 86);
    width: auto;
    border: 3px solid grey;
    padding-left: 15px;
    padding-right: 15px;
    margin: 35px;
    border-radius: 15px;
}
#artikkeli-otsikko h2 {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
#artikkeli-otsikko p {
    text-decoration: none;
    color: rgb(187, 180, 180)
}
#artikkeli-otsikko-A {
    text-decoration: none;
}
#pieni {
    font-size: 84%;
}
#artikkeli-otsikko:hover {
    background-color: rgb(87, 86, 86);
    width: auto;
    border: 3px solid grey;
    padding-left: 15px;
    padding-right: 15px;
    margin: 40px;
    border-radius: 15px;
}

#musta {
    background-color: rgb(31, 29, 29);
    border-left: 3px solid grey;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}